@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
  /* rgb(var(--background-start-rgb)); */
}

@font-face {
  font-family: 'Akira Expanded';
  src: url('../../public/font/Akira Expanded Demo.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .header {
    height: 80px;
  }
}

.sign-up-info {
  color: #292929;
  font-family: Pretendard;
  font-size: 14px;
  font-weight: 600;
  line-height: normal;
}

@media (prefers-color-scheme: dark) {
  .sign-up-info {
    color: black;
  }
}

.login-info {
  color: #292929;
  font-family: Pretendard;
  font-size: 12px;
  font-weight: 600;
  line-height: normal;
}

.email-input {
  color: #cfcfcf;
  font-family: Pretendard;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.login-btn {
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.social-login-btn {
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.grid-cols-5 {
  display: grid;
  grid-template-columns: repeat(5, minmax(0, 1fr));
  gap: 1.35rem 1rem;
}

.favorite-btn-font {
  font-family: Pretendard;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.favorite-btn-inactive {
  display: flex;
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12.081px;
  background: #f5f5f5;
  color: #9d9d9d;
}

.favorite-btn-active {
  display: flex;
  padding: 12px 10px;
  justify-content: center;
  align-items: center;
  border-radius: 12.081px;
  background: #fb3463;
  color: #fff;
}

.custom-label {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--4, #f5f5f5);
  cursor: pointer;
  color: black;
  font-size: 14px;
  font-weight: bold;
  text-align: center;
  text-transform: uppercase;
  text-decoration: none;
}

.custom-label:hover {
  background-color: #fb3463;
  color: white;
}

.custom-label:focus {
  background-color: #fb3463;
  color: white;
}

.sign-up-complete {
  color: #fb3463;
  font-family: Pretendard;
  font-size: 20px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

.sign-up-complete2 {
  color: #9d9d9d;
  text-align: center;
  font-family: Pretendard;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

.shadowall {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.shadowall1 {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.selectshadow {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.15);
}

.bg {
  background: rgba(0, 0, 0, 0.4);
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: none;
  }
}

.fadeInUp {
  animation-name: fadeInUp;
  animation-duration: 1s;
  animation-fill-mode: both;
}

/* 애니메이션 효과를 위한 CSS 추가 */
@keyframes slideUp {
  from {
    opacity: 0;
    transform: translateY(20px);
  }

  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.slide-up-animation {
  animation: slideUp 0.5s ease-out forwards;
}

.pages {
  height: 100vh;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.page {
  height: 100%;
  width: 100%;
  position: absolute;
  bottom: -100%;
  transition: bottom 0.7s;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.page:first-child {
  bottom: 0;
}

.pagination {
  position: absolute;
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.pagination>li {
  list-style: none;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-top: 10px;
  transition: background 0.7s;
}

.title {
  width: 100%;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
}

.swal-custom-popup .swal2-success-ring {
  border-color: #FB3463 !important;
}

.swal2-icon.swal2-success {
  border-color: #FB3463 !important;
  color: #FB3463 !important;
}

.swal2-success-line-tip {
  background-color: #FB3463 !important;
}

.swal2-success-line-long {
  background-color: #FB3463 !important;
}

.favorite-btn-edit {
  display: flex;
  width: 126px;
  height: 63px;
  padding: 12px 30px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  background: #fb3463;
  color: #fff;
}

.theboki {
  -webkit-line-clamp: 1;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

.theboki1 {
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  display: -webkit-box;
}

@keyframes dropdown {
  0% {
    opacity: 0;
    transform: translateY(-10px);
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-dropdown {
  animation: dropdown 0.3s ease-in-out forwards;
}

.ootd-image-container {
  position: relative;
  width: 100%;
  padding-top: 100%;
  overflow: hidden;
}

.ootd-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.grid-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 1.5rem;
  margin-top: 5rem;
}

.grid-item {
  display: flex;
  flex-direction: column;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
}

.flex {
  display: flex;
}

.flex-row {
  flex-direction: row;
}

.flex-col {
  flex-direction: column;
}

.flex-wrap {
  flex-wrap: wrap;
}

.gap-2 {
  gap: 0.5rem;
}

.rounded-full {
  border-radius: 50%;
}

.slide-down {
  max-height: 500px;
  /* 원하는 최대 높이 */
  opacity: 1;
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.hide {
  max-height: 0;
  opacity: 0;
  overflow: hidden;
  /* 내용이 넘치지 않도록 숨김 */
  transition: max-height 0.5s ease, opacity 0.5s ease;
}

.custom-modal {
  max-width: 90% !important;
  width: 90% !important;
  max-height: 90% !important;
  height: 90% !important;
}

.custom-modal-overlay {
  display: flex;
  align-items: center;
  justify-content: center;
}


.custom-datepicker-popover {
  .react-datepicker__triangle {
    display: none;
  }

  .react-datepicker__header {
    font-size: 0.875rem;
  }

  .react-datepicker__day,
  .react-datepicker__day-name {
    width: 2.5rem;
    height: 2.5rem;
    line-height: 2.5rem;
  }

  .react-datepicker__calendar {
    width: 100%;
    height: auto;
  }
}

.react-datepicker-wrapper,
.react-datepicker__input-container {
  width: 100%;
  height: 100%;
}

.datepicker-container {
  position: relative;
  width: 100%;
}

.datepicker-input {
  width: 100%;
  padding-right: 2.5rem;
}

.datepicker-icon {
  position: absolute;
  right: 1.5rem;
  top: 50%;
  transform: translateY(-50%);
  width: 1.5rem;
  height: 1.5rem;
  pointer-events: none;
}

.react-datepicker__input-container {
  width: 100%;
}

.react-datepicker__input-container input {
  padding-right: 2.5rem;
}


.pink-text {
  color: #ffb9ca;
}

.slick-prev:before,
.slick-next:before {
  display: none;
}

.custom-arrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.custom-arrow img {
  height: auto;
  max-width: 40px;
  max-height: 40px;
}

.shadowalltop {
  box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.08);
}

.ql-editor {
  height: 300px;
  /* 에디터 높이 설정 */
}

.tag-container {
  display: flex;
  white-space: nowrap;
  padding: 8px 0;
}


.tag-item {
  display: inline-block;
  margin-right: 8px;
  white-space: nowrap;
}

.react-datepicker__header {
  background-color: white !important; /* 배경 색상 흰색 */
  border: none !important;
  padding: 0 !important; /* padding 제거 */
}

.react-datepicker__month {
  margin: 0 !important; /* margin 제거 */
}

.react-datepicker__month-container {
  width: 100% !important;
  margin: 0 auto !important; /* 가운데 정렬 */
  float: none !important;
}

.react-datepicker {
  width: 100% !important;
  margin: 0 auto !important; /* 가운데 정렬 */
  border: none !important; /* 테두리 제거 */
}

.react-datepicker__navigation--next {
  right: 80px !important; /* 화살표 위치 조정 */
  top: 3px !important;
}

.react-datepicker__navigation--previous {
  left: 80px !important; /* 화살표 위치 조정 */
  top: 3px !important;
}

.react-datepicker__day-name, .react-datepicker__day, .react-datepicker__time-name {
  margin-right: 8px !important; /* 날짜와 시간 간격 조정 */
  margin-left: 8px !important; 
  margin-top: 6px !important;
}

/* 선택된 날짜에 대한 스타일 */
.react-datepicker__day--selected, 
.react-datepicker__day--in-selecting-range, 
.react-datepicker__day--in-range, 
.react-datepicker__month-text--selected, 
.react-datepicker__month-text--in-selecting-range, 
.react-datepicker__month-text--in-range, 
.react-datepicker__quarter-text--selected, 
.react-datepicker__quarter-text--in-selecting-range, 
.react-datepicker__quarter-text--in-range, 
.react-datepicker__year-text--selected, 
.react-datepicker__year-text--in-selecting-range, 
.react-datepicker__year-text--in-range {
  border-radius: 1rem !important; /* 선택된 날짜 둥글게 */
  background-color: #FB3463 !important; /* 메인 색상 */
  color: white !important; /* 선택된 날짜 글자색을 흰색으로 변경 */
}

/* 월과 요일 텍스트 색상 */
.react-datepicker__current-month,
.react-datepicker__day-name {
  color: #333 !important; /* 월과 요일 텍스트 색상 */
}

/* 기본 날짜 텍스트 색상 */
.react-datepicker__day {
  color: #000 !important; /* 기본 날짜 텍스트 색상 */
}

/* 현재 날짜 이후의 날짜에 대한 스타일 */
.react-datepicker__day--disabled,
.react-datepicker__day--disabled:hover {
  color: #d3d3d3 !important; /* 회색 텍스트 색상 */
  pointer-events: none; /* 클릭 불가 */
}

/* 날짜에 마우스 호버 시 둥근 배경 */
.react-datepicker__day:hover {
  background-color: #FFBACA !important; /* Hover 시 배경 색상 */
  border-radius: 1rem !important; /* Hover 시 둥근 배경 */
}


/* 선택된 날짜에 대한 스타일 */
.react-datepicker__day--selected {
  border-radius: 1rem !important; /* 선택된 날짜 둥글게 */
  background-color: #FB3463 !important; /* 메인 색상 */
  color: white !important; /* 선택된 날짜 글자색을 흰색으로 변경 */
}

/* 오늘 날짜에 대한 스타일을 분리 */
.react-datepicker__day--today {
  background-color: transparent !important; /* 오늘 날짜의 배경색 제거 */
  color: #000 !important; /* 오늘 날짜 글자색 유지 */
  font-weight: bold !important; /* 오늘 날짜는 볼드 처리 */
}

/* 날짜에 마우스 호버 시 둥근 배경 */
.react-datepicker__day:hover {
  background-color: #FFBACA !important; /* Hover 시 배경 색상 */
  border-radius: 1rem !important; /* Hover 시 둥근 배경 */
}

.react-datepicker__day--selected-custom {
  border-radius: 1rem !important;
  background-color: #FB3463 !important;
  color: white !important;
}


.react-datepicker__day--keyboard-selected, .react-datepicker__month-text--keyboard-selected, .react-datepicker__quarter-text--keyboard-selected, .react-datepicker__year-text--keyboard-selected {
  background-color: transparent !important;
  color: inherit !important;
}

.react-datepicker__day-names {
  padding-bottom: 10px;
}

.react-datepicker__day-name {
  font-weight: 700;
  font-size: 10px;
}

.custom-icon {
  color: #FB3463 !important; /* 아이콘의 색상을 변경 */
}

.swal2-error {
  color: #FB3463 !important;
  border-color: #FB3463 !important;
}

.swal2-error [class^=swal2-x-mark-line] {
  background-color: #FB3463 !important;
}

/* WeatherModal.css */
.weather-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.weather-modal-content {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  width: 350px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  text-align: center;
}

.weather-modal-content h2 {
  font-size: 1.2em;
  font-weight: 600;
  margin-bottom: 20px;
}

.weather-modal-content .form-row {
  width: 60%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
  margin: 10px auto; /* 중앙에 배치 */
}

.weather-modal-content label {
  font-size: 1em;
  font-weight: 500;
  margin-right: 10px;
}

.weather-modal-content select,
.weather-modal-content input {
  padding: 8px;
  font-size: 1em;
  border: 1px solid #ddd;
  border-radius: 4px;
  width: 74px; /* 드롭다운과 입력 필드의 너비를 동일하게 설정 */
}
.weather-modal-content .button-group {
  display: flex;
  justify-content: center; /* 버튼들을 중앙으로 정렬 */
  align-items: center;
  gap: 20px; /* 버튼들 간의 간격을 20px로 설정 */
  margin: 0 auto; /* 버튼 그룹을 중앙에 배치 */
  margin-top: 20px;
}

.weather-modal-content .button-group button {
  padding: 10px 20px;
  font-size: 1em;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  min-width: 60px; /* 최소 너비 설정 */
}

.weather-modal-content .button-group button:first-child {
  background-color: #fb3463;
  color: white;
}

.weather-modal-content .button-group button:last-child {
  border: #cfcfcf;
  border: 1px solid #cfcfcf; 
  color: #cfcfcf;
}

#temperature-input {
  width: 60px !important; /* 온도 입력 필드와 드롭다운 필드 크기를 동일하게 맞춤 */
}