@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

html {
  font-size: 62.5%;
  /* 1rem = 10px */
}

body {
  color: rgb(var(--foreground-rgb));
  /* background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    ) */
    /* rgb(var(--background-start-rgb)); */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }

  .header {
    height: 80px;
  }
}

.sign-up-info {
  color: #292929;
  font-family: Pretendard;
  font-size: 20px;
  font-weight: 600;
  line-height: normal;
}

.custom-label {
  display: flex;
  width: 220px;
  height: 60px;
  padding: 20px 50px 20px 50px;
  justify-content: center;
  align-items: center;
  flex-shrink: 0;
  border-radius: 8px;
  background: var(--4, #F5F5F5);
  cursor: pointer; 
  color: black;
  font-size: 16px;
  font-weight: bold; 
  text-align: center; 
  text-transform: uppercase;
  text-decoration: none; 
}

.custom-label:hover {
  background-color: #FB3463;
  color: white;
}

.custom-label:focus {
  background-color: #FB3463;
  color: white;
}